.page-body {
  display: flex;
  flex-direction: column;
  background-color: #F9FDFF;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding-top: 90px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-header__logo {

}

.page-header__site-nav {
  margin-left: 140px;
  flex-grow: 1;
}

.page-header__site-nav_closed {

}

.page-header__site-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__site-nav-item {
  width: 33.3%;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #303032;
}

.page-header__site-nav-a {
  text-decoration: none;
}

.page-header__site-nav-button {

}

.page-header__user-nav {
}

.page-header__user-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__user-nav-item {
  font-size: 0px;
}

.page-header__user-nav-a {
  text-decoration: none;
}

.page-header__user-nav-item-alt {
  /*visually hidden*/
}

.page-main {
  flex: 1;
}

.page-main__page-name {
  /*visually hidden*/
  font-size: 0px;
}

.page-main__products {
  max-width: 1220px;
  min-width: 320px;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.page-main__product-slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent; /* for firefox*/
  scrollbar-width: 0px;
}

.page-main__product-slider::-webkit-scrollbar { /*for other browsers*/
  width: 0;               
  background: transparent;
}

.page-main__product-slide {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.page-main__product-info {
  display: flex;
  flex-direction: column;
}

.page-main__product-type {
  /*font-family: Playfair Display;*/
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #303032;
}

.page-main__product-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #303032;
}

.page-main__product-price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #303032;

}

.page-main__product-price-sale {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: #303032;
}

.page-main__product-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.13em;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #303032;
}

.page-main__product-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  
}

.page-main__product-slider-pagination {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__product-slide-number {
}

.page-main__product-slide-a {
  /*font-family: Playfair Display;*/
  text-decoration: none;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.page-main__new {
  display: flex;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-main__new-title {
  font-size: 0px;
}

.page-main__new-list {
  height: 670px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__new-item {
  flex-shrink: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  margin-right: 30px;
  margin-bottom: 37px;
  height: 289px;
  
}

.page-main__new-item-title {
  background-color: #F9FDFF;
}

.page-main__new-list-title {
  /*font-family: Playfair Display;*/
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
}

.page-main__new-item-first {
  order: 2; 
}

.page-main__new-item-second {
   order: 3;
}

.page-main__new-item-third {
  order: 1;
}

.page-main__new-item-last {
  order: 4;
  height: 614px;
}

.page-main__new-item-a {
  text-decoration: none;
}

.page-main__new-product {

}

.page-main__new-wrap-img {
  
}

.page-main__new-img {
  max-width: 100%;
  height: auto;
}

.page-main__new-product-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #303032;
}

.page-main__new-product-price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height */
  color: #303032;
}

.page-main__review {
  display: flex;
  padding-top: 102px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-main__review-slider-title {
  /*visually hidden*/
  font-size: 0px;
}

.page-main__review-slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent; /* for firefox*/
  scrollbar-width: 0px;
  order: 2;
}

.page-main__review-slider::-webkit-scrollbar { /*for other browsers*/
  width: 0;               
  background: transparent;
}

.page-main__review-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.page-main__review-wrap-image {
  display: flex;
  justify-content: center;

}

.page-main__review-image {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}

.page-main__review-author {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27,78px;
  text-align: center;
  color: #444348;
}

.page-main__review-author-status {
  /*font-family: Avenir Next;*/
  font-size: 16px;
  line-height: 24,7px;
}

.page-main__review-quote {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 24.7px;
  text-align: center;
  color: #444348;
}

.page-main__review-button-prev {
  order: 1;
}

.page-main__review-button-next {
  order: 3;
}

.page-main__review-slider-pagination {
  
}

.page-main__sale {
  display: flex;
  flex-direction: column;
  padding-top: 73px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-main__sale-title {
  /*font-family: Playfair Display;*/
  font-weight: bold;
  font-size: 28px;
  line-height: 37.32px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
}

.page-main__sale-tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__sale-tab {

}

.page-main__sale-tab_active {
   text-decoration: underline;
}

.page-main__sale-tab-a {
  text-decoration: none;
}

.page-main__sale-tabs-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__sale-tab-content {

}

.page-main__sale-tab-content_active {

}

.page-main__sale-content-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__sale-content-li {

}

.page-main__sale-content-product {

}

.page-main__sale-product-link {
  text-decoration: none;
}

.page-main__sale-product-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.page-main__sale-product-price {
  
}

.page-main__sale-price-new {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
}

.page-main__sale-price-old {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #979798;
}

.page-main__sale-product-button {

}

.page-main__sale-wrap-img {

}

.page-main__sale-product-img {
  max-width: 100%;
  height: auto;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 101px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-footer__logo {

}

.page-footer__nav {

}

.page-footer__nav-list {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;;
}

.page-footer__nav-item {
  /*font-family: Roboto;*/
  font-size: 16px;
  line-height: 19px;
  color: #303032;
}

.page-footer__nav-item-a {
  text-decoration: none;
}

.page-footer__address {
  display: flex;
  /*font-family: "Roboto";*/
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #303032;
}

.page-footer__tel {

}

.page-footer__tel-a {
  text-decoration: none;
}

.page-footer__mail {

}

.page-footer__mail-a {
  text-decoration: none;
}

.page-footer__copyright {
  /*font-family: Avenir Next;*/
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
}

